- content_for(:page_title, @resource.full_name)


.clearfix
hr

= link_to edit_admin_user_path(@resource), class: 'btn btn-success' do
  span.glyphicon.glyphicon-pencil
  = _('Edit')

= link_to _('Back'), admin_user_path, class: 'btn btn-primary'
